.operator {
	padding: 30px 20px 30px;
}

.operator__title {
	color: white;
	font-size: 21px;
	padding: 0px 0 18px;
	margin: 0;
}

.operator__container {
	display: grid;
	padding: 0;
	gap: 20px;
	margin: 0;
}

.operator__logo-pay {
	display: none;
}

/* на средний размер */
@media (min-width: 768px) {
	.operator {
		padding: 40px 30px 40px;
	}

	.operator__container {
		gap: 10px;
		justify-content: center;
	}

	.operator__title {
		font-size: 23px;
		text-align: center;
	}
}

/* на средний размер */
@media (min-width: 1280px) {
	.operator__container {
		gap: 20px;
	}

	.operator__logo-pay {
		display: block;
		width: 150px;
		height: 150px;
		padding-left: 100px;
	}

	.operator__list {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}
